.title-row {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	border-bottom: 1px solid var(--nc-bg-2);
	padding-bottom: 2px;
	margin-bottom: 1rem;
}

.title-row h1 {
	border-bottom: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.logo svg {
	display: block;
	height: 2.25rem;
	width: auto;
}

:root {
	--nc-bg-1: #f7f7f2;
	--nc-bg-2: #d8d8d8;
	--nc-tx-1: #222;
	--nc-tx-2: #222;
	--nc-lk-1: #c79200;
	--nc-lk-2: #c79200;
	--nc-lk-tx: #c79200;
	/*--nc-tx-1: #ffffff;
	--nc-tx-2: #eeeeee;
	--nc-bg-2: #111111;
	--nc-bg-2: #222222;
	--nc-ac-1: #7928CA;
	--nc-ac-tx: #FFFFFF;*/
}

